<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="cart" color="danger"></ion-icon>
      <span class="home-secondary">Now</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list no-border>

    <ion-list-header>
      {{product.name}}
    </ion-list-header>

    <ion-item *ngFor="let item of product.ingredients">
      <ion-icon name='radio-button-on' item-left></ion-icon>
      {{item.name}}
    </ion-item>

  </ion-list>
  </ion-content>
<!--<ion-content class="home-ion-content">
  <span *ngFor="let item of product.ingredients">
    <h2>{{item}}</h2>
  </span>
</ion-content>-->
